*
{
    margin: 0;
    border: border-box;

}
/* navigation baar */
#navbar
{
    height: 60px;
    background-color: black;
    COLOR: WHITE;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* navigation bar logo */
.navlogo
{
    height: 50px;
    width: 100px;
    margin-right: 10px;
    padding: 1px 8px 0 6px;
}
.logo
{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.bordr
{
    border: 1px solid transparent;
}
.bordr:hover
{
    border: 1px solid white;
}
/* navigation bar first element */
.nav_addr
{
    margin-left: 4px;
}
.del
{
    font-size: 0.5rem;
    color: white;
    margin-left: 15px;

}
.addr_icon
{
    display: flex;
}
.place
{
    font-size: 1rem;
    color: white;
    margin-left: 3px;
}
/* search bar */
.searchbar
{
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;
    width: 630px;
    height: 40px;
    border-radius: 4px;
}
.searchbar:hover
{
    border: 2px solid orange;
}
.search
{
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search_input
{
    width:100%;
    font-size: 1rem;
    border: none;

}
.searchlogo
{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 218, 109);
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius:4px;
    color: black;


}
/* navbar account */
span
{
    font-size: 0.7rem;
}
.acc
{
    font-size: 0.85rem;
    font-weight: 700;
}
/* CART */
cart i  
{
    font-size: 30px;
    display: flex;

}
.fontcart
{
    font-size: medium;
}
/* pannel */
.pannel
{
    height: 40px;
    background-color:rgb(34, 32, 32);
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.pannelops p
{
    display: inline;
    margin-left: 15px;
    border: 2px solid transparent;
}
.pannelops
{
    width: 70%;
}
/* hero */
.hero 
{
    background-image: url("hero_image.jpg");
    height: 380px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
}
.hero_msg a
{
    text-decoration: none;
    background-color: white;
    color: black;
    height: 40px;
    width: 1300px;
    top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
    font-size: large;
    
    
}
/* hero section over */
/* shope section */
.container1 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.container1 h2
{
    margin-left: 14px;
}
.box
{
    height: 400px;
    width: 24%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 16px;
}
.bgimage
{
    height:300px;
    padding: 20px 0px 15px;
    margin-left: 10px;
    margin-right: 10px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
   
}
.box-content p
{
    margin-left: 10px;
    margin-right: 10px;
    color: blue;
}
/* shop section ended */
/* footer section staart */
footer
{
    margin-top: 15px;
}
    /* back to top button  */

.backtotop 
{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.backtotop a
{
    color: white;
    font-size: large;
    text-decoration: none;
}
.footerlist
{
    display: flex;
    justify-content: space-around;
    background-color: #222f3d;
    color: white;
    height: 350px;
    
}
.ul
{
    margin-top: 20px;
}
.ul p
{
    display: block;
    font-size: 0.85rem;
    margin-top: 15px;
   
}
.footerpannel
{
    border-top: 0.5px white;
    background-color: #222f3d;
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo
{
    background-image: url(amazon_logo.png);
    width: 100px;

}
.t_c
{
    background-color: black;
    color: white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 80px;
}
.reach
{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;
}
.copyright
{
    font-size: 0.7rem;
    text-align: center;
    margin-top: 5px;
}